.vehicles-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 40px;

    app-vehicles-card {
        display: flex;
        justify-content: center;
        flex: 0 1 calc(33.33% - 16px);
        max-width: calc(33.33% - 16px);
        margin-bottom: 20px;
    }
}

::ng-deep {
    .p-button {
        margin-top: 30px !important;
        margin-left: 10px !important;
        background: #ea580c;
        color: #ffffff;
        border-color: #ea580c;
    }

    .p-button-label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        transition-duration: 0.2s;
        height: 25px;
        width: 160px;
    }
}